.results {
  position: absolute;
  border: 1px solid #eee;
  box-shadow: #ddd 2px 2px 2px;
  max-height: 200px;
  overflow: scroll;
  width: 200px;
}

.result {
  height: 100px;
  border-bottom: 1px dotted gray;
}

.highlighted {
  background-color: yellow;
}

.small {
  font-size: smaller;
}
